@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
  background-color: #f2f2f2 !important;
} */

.footer ul li {
  margin-top: 8px;
  opacity: 0.7;
}

@media (min-width: 1536px) {
  .container {
    max-width: 1200px !important;
    margin: 0 auto;
    
  }
}
